@import "../../styles/fonts.css";
@import "../../styles/variables.css";

.product-name {
    font-family: var(--font-family-main);
    font-size: 42px;
    color: #000000;
}

.add-to-cart-btn {
    width: 215px;
    height: 64px;
    color: 000000;
    font-family: var(--font-family-main);
    font-size: 20px;

}