@import "../../styles/fonts.css";
@import "../../styles/variables.css";

.product-name {
    font-family: var(--font-family-main);
    font-size: 42px;
    color: #000000;
}

.add-to-cart-btn {
    width: 215px;
    height: 64px;
    color: 000000;
    font-family: var(--font-family-main);
    font-size: 20px;
}

.product-details-container {
    display: flex;
    padding: 20px;
    width: 100%;
}

.product-details {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.product-details .product-images {
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    gap: 32px;
}

.product-details  .main-image {
    width: 100%;
    max-width: 481px;
    height: 500px;
    
}

.product-details .thumbnail-images {
    display: flex;
    gap: 32px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.product-details .thumbnail-images img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.product-details .product-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 83px;
}

.product-details .product-title {
    font-family: var(--font-family-main);
    font-size: 42px;
    color: #000000;
    margin: 0;
}

.product-details .price {
    font-family: var(--font-family-medium);
    font-size: 24px;
    color: #9F9F9F;
    margin: 0;
}

.product-details .ratings {
    display: flex;
}

/* Container das estrelas */
.stars-rating {
    display: flex;
    font-size: 0; /* Remove espaçamento entre estrelas */
    position: relative;
    font-family: "Satoshi";
    align-items: center;
    width: 100%;
}

/* Estilo geral das estrelas */
/* CSS Clip-Path Generator usei apenas para o clip-path: polygon*/
.star {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF; /* Cor da estrela não preenchida */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    margin-right: 1px;
}

/* Estrela preenchida */
.star.filled {
    background-color: #FFC633;
}

/* Meia estrela */
.star.half-filled {
    background: linear-gradient(90deg, #FFC633 50%, #FFFFFF 50%);
    background-clip: content-box;
}

.stars-rating-text {
    font-family: var(--font-family-main);
    font-size: 13px;
    color: #9F9F9F;
    margin-left: 13px;
}

.stars-rating-text-light {
    font-weight: normal;
    color: #000000;
}

.product-details .description {
    font-family: var(--font-family-main);
    font-size: 13px;
    color: #000000;
    width: 424px;
    height: 80px;
}

.product-details .product-options, .color-container {
    font-size: var(--font-family-main);
    font-size: 14px;
    color: #9F9F9F;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.product-details .size-options button {
    border-radius: 5px;
}

.product-details .product-options .size-options button:hover {
    cursor: pointer;
    background-color: #B88E2F;
    color: white;
}

.product-details .size-options, .color-options {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: var(--font-family-main);
    font-size: 14px;
    color: #9F9F9F;
}

.product-details .size-options button, .color-options button {
    padding: 5px 10px;
    border: 1px;
    cursor: pointer;
}

.size-btn.active {
    background: #B88E2F;
    color: white;
}

.product-details .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.add-to-cart-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity {
    display: inline-flex;
    align-items: center;
    border: 1px solid #9F9F9F;
    border-radius: 5px;
    overflow: hidden;
    height: 64px;
    width: 120px;
    justify-content: space-between;
  }
  
  .quantity button {
    background: none;
    border: none;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
    font-weight: 400;
    font-family: var(--font-family-main);
  }
  
  .quantity input {
    width: 40px;
    text-align: center;
    border: none;
    font-size: 16px;
    outline: none;
    font-weight: 500;
    font-family: var(--font-family-main);

    -moz-appearance: textfield; /* Para navegadores Firefox */
    -webkit-appearance: none; /* Para navegadores WebKit (Chrome, Safari) */
    appearance: textfield; /* Para navegadores modernos */
  }

  .quantity input::-webkit-outer-spin-button,
  .quantity input::-webkit-inner-spin-button {
    display: none; /* Remove setinhas em navegadores WebKit */
  }
  
  .action-buttons {
    display: inline-flex;
    gap: 10px;
    margin-left: 10px;
  }
  
  .add-to-cart,
  .compare {
    border: 1px solid #333;
    padding: 8px 16px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    width: 215px;
    height: 64px;
    border-radius: 15px;
  }
  
  .add-to-cart:hover,
  .compare:hover {
    background-color: #f0f0f0;
  }
  

.product-details .product-meta {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: var(--font-family-main);
    margin-top: 60px;
    border-top: 1px solid #D9D9D9;
    padding-top: 41px;
}

.meta-sku, .meta-category, .meta-tags, .meta-share {
    display: flex;
    font-size: 16px;
    color: #9F9F9F;
    margin: 0;
}

.meta-title {
    width: 92px;
}

.share-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}
.share-title {
    display: flex;
    align-items: center;
    line-height: 20px;
}

.icon-facebook, .icon-linkedin, .icon-twitter {
    width: 20px;
    height: 20px;
    line-height: 20px;
}


.single-products {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.single-products-text {
    font-family: var(--font-family-bold);
    font-size: 32px;
    color: #333333;
}

.single-products-button {
    width: 245px;
    height: 48px;
    color: #B88E2F;
    font-family: var(--font-family-semibold);
    font-size: 16px;
    background-color: #FFFFFF;
    margin-bottom: 68px;
    border: 1px solid #B88E2F;
}

.single-products-button:hover {
    cursor: pointer;
    background-color: #FFF3E3;
}


.tabs-description {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 330px;
    border-top: 1px solid #D9D9D9;
}