@import "../../styles/fonts.css";
@import "../../styles/variables.css";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-top: 29px;
    margin-bottom: 25px;
  }
  
  .logo img {
    width: 185px;
    height: auto;
    margin-right: 10px;
  }
  
  .nav-links{
    display: flex;
    gap: 75px;
    margin-top: 38px;
    margin-bottom: 38px;
    font-family: var(--font-family-medium);
  } 

  .nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
  }

  .nav-links a:hover {
    color: var(--primary-color-hover);
  }
  
  .icons {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-top: 36px;
    margin-bottom: 31px;
    margin-right: 100px;
  }
  
  .icons img {
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
    width: 28px;
    height: auto;
    transition: all 0.3s ease;
  }
  
  .icons img:hover {
    filter: brightness(0) saturate(100%) invert(66%) sepia(89%) saturate(1142%) hue-rotate(7deg) brightness(92%) contrast(86%);
    
  }
  