@import "../../styles/fonts.css";
@import "../../styles/variables.css";

.tabs-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .tabs button.active {
    background-color: #007bff;
    color: white;
  }
  
  .tab-content {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
  }
  
  .tab-pane h2 {
    margin-top: 0;
  }
  