@import "../../styles/fonts.css";
@import "../../styles/variables.css";

.tabs-container {
    width: 100%;
    max-width: 1026px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    background-color: transparent;
    color: #9F9F9F;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-family: var(--font-family-main);
    font-weight: 400;
    line-height: 36px;
  }
  
  .tabs button.active {
    background-color: transparent;
    color: #000000;
    font-weight: 500;
  }
  
  .tab-content {
    padding: 20px;
    color: #9F9F9F;
    font-size: 16px;
    font-family: var(--font-family-main);
    line-height: 24px;
    text-align: justify;
    font-weight: 400;
  }
  
  .tab-pane h2 {
    margin-top: 0;
  }
  